@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@100&display=swap");

.templeContainer {
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.deuxCotes {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  gap: 5vw;
  width: 90vw;
  height: 75vh;
  font-family: "Poppins", sans-serif;
  color: white;
  margin: 0;
  margin-top: 17vh;
  border: red solid;
}

.leftContainer {
  width: 70%;
  display: flex;
  border: blue solid;
}

.rightContainer {
  min-width: 30%;
  border: white solid;
}
